body {
    font-family: Arial;
    text-align: center;
    padding-top: 100px;
    background-color: #f4f4f4;
}

h1 {
    color: #222;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
}
