body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 30px;
}

h1, p {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 30px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #222;
    color: white;
}
